---
- name: Clone Incident Response Tool
  git:
    repo: 'https://github.com/tiltaslifestyle/automated-incident-response.git'
    dest: /opt/automated-incident-response
    version: main

- name: Install Python Dependencies in Venv
  pip:
    requirements: /opt/automated-incident-response/requirements.txt
    virtualenv: /opt/automated-incident-response/venv
    virtualenv_command: /usr/bin/python3 -m venv

- name: Deploy Tool Settings
  template:
    src: settings.yaml.j2
    dest: /opt/automated-incident-response/config/settings.yaml
    mode: '0600'

- name: Create Fail2Ban Action
  template:
    src: automated-incident-response.conf.j2
    dest: /etc/fail2ban/action.d/automated-incident-response.conf
  notify: Restart Fail2Ban

- name: Activate Action in SSH Jail
  blockinfile:
    path: /etc/fail2ban/jail.local
    insertafter: "banaction = iptables-multiport"
    block: |
      # Trigger Python script alongside iptables
      action = %(action_)s
               automated-incident-response
  notify: Restart Fail2Ban