extends: default

ignore: |
  **/templates/**
  **/charts/**/templates/**
  **/vendor/**
  **/generated/**

rules:
  line-length: disable
  comments-indentation: disable
  truthy: disable
  new-lines: disable
  comments: disable
