---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install basic utilities
  apt:
    name:
      - vim
      - curl
      - wget
      - git
      - htop
      - net-tools
      - software-properties-common
      - unzip
      - ufw
    state: present

