---
- name: Set time zone to UTC
  community.general.timezone:
    name: Etc/UTC

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install basic utilities
  ansible.builtin.apt:
    name:
      - vim
      - curl
      - wget
      - git
      - htop
      - net-tools
      - software-properties-common
      - unzip
      - ufw
      - python3
      - python3-pip
      - python3-venv
    state: present

- name: Install Chrony
  ansible.builtin.apt:
    name: chrony
    state: present

- name: Ensure Chrony is started and enabled
  ansible.builtin.service:
    name: chrony
    state: started
    enabled: true
