---
- name: Install Python Kubernetes library
  ansible.builtin.apt:
    name: python3-kubernetes
    state: present
    update_cache: true

- name: Create ArgoCD namespace
  kubernetes.core.k8s:
    name: argocd
    api_version: v1
    kind: Namespace
    state: present
    kubeconfig: /etc/rancher/k3s/k3s.yaml

- name: Add ArgoCD Helm repository
  kubernetes.core.helm_repository:
    name: argo
    repo_url: "https://argoproj.github.io/argo-helm"
    kubeconfig: /etc/rancher/k3s/k3s.yaml

- name: Deploy ArgoCD via Helm
  kubernetes.core.helm:
    name: argocd
    chart_ref: argo/argo-cd
    release_namespace: argocd
    create_namespace: false
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    update_repo_cache: true
    values:
      server:
        extraArgs:
          - --insecure
  register: argocd_install

- name: Create Ingress for ArgoCD
  kubernetes.core.k8s:
    state: present
    kubeconfig: /etc/rancher/k3s/k3s.yaml
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: argocd-server-ingress
        namespace: argocd
        annotations:
          kubernetes.io/ingress.class: traefik
      spec:
        rules:
          - host: "argocd.{{ lab_ip }}.nip.io"
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name: argocd-server
                      port:
                        number: 80
