---
- name: UFW - Allow SSH
  community.general.ufw:
    rule: allow
    name: OpenSSH

- name: UFW - Allow Kubernetes API
  community.general.ufw:
    rule: allow
    port: '6443'
    proto: tcp
    comment: 'K3s API Server'

- name: UFW - Allow Traefik Ingress (HTTP/HTTPS)
  community.general.ufw:
    rule: allow
    port: '80,443'
    proto: tcp
    comment: 'Web Traffic'

- name: UFW - Enable firewall
  community.general.ufw:
    state: enabled
    policy: deny
