apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: adguard-home
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.gabe565.com
    chart: adguard-home
    targetRevision: 0.3.25
    helm:
      releaseName: adguard-home
      values: |
        replicaCount: 1
        service:
          main:
            type: LoadBalancer
            ports:
              http:
                port: 80
                targetPort: 80
              setup:
                enabled: true
                port: 3000
                protocol: TCP
                targetPort: 3000
              dns-tcp:
                enabled: true
                port: 53
                protocol: TCP
                targetPort: 53
              dns-udp:
                enabled: true
                port: 53
                protocol: UDP
                targetPort: 53
        persistence:
          config:
            enabled: true
            accessMode: ReadWriteOnce
            size: 1Gi
          data:
            enabled: true
            accessMode: ReadWriteOnce
            size: 5Gi
  destination:
    server: "https://kubernetes.default.svc"
    namespace: adguard-home
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
